
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}


@media screen and (max-width:768px) {
    .w-50{
        width: 100%!important;
    }
}